<div class="container py-5">
    <div class="text-center">
        <div class="mat-display-3">Sign In</div>
    </div>
    <div class="form text-center">
        <form action="#">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput>
            </mat-form-field>
            <button mat-raised-button class="btn">Sign In</button>
        </form>
    </div>
</div>
