body {
  margin: 0;
}
.card {
  border-radius: 20px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
.card .card-img-overlay a {
  color: white;
  text-decoration: none;
}
.card .card-img-overlay a.fa-heart:hover {
  color: #ff3d49;
  cursor: pointer;
}
.card .card-img-overlay a.fa-pencil-alt:hover {
  color: #ff3d49;
  cursor: pointer;
}
.card .card-img-overlay a.fa-ellipsis-v:hover {
  cursor: pointer;
}
.dropright .dropdown-toggle::after {
  display: none;
}
.dropright .dropdown-menu a:hover {
  cursor: pointer;
}
